{
    "presets": [
        "@babel/preset-env"
    ]
}

// {
//     "presets": [
//       "es2015",
//       "env",
//       "node",
//       "stage-2"
//     ]
//   },
  
//   {
//     "plugins": [
//       "transform-es2015-arrow-functions",
//       "check-es2015-constants",
//       "transform-es2015-block-scoping"
//     ]
//   }